includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
  level: 8
  parallel:
    maximumNumberOfProcesses: 4
  tmpDir: storage/framework/cache/phpstan
  checkModelProperties: true
